.DS_Store
.conda/
Pythia/baulab.us/
Pythia/cpu_probe.pth
Pythia/dictionary_learning/
Pythia/model.pth
Pythia/new_model.pth
Pythia/probe_shift.pkl
Pythia/saved_models/
Pythia/state_dict.pkl
Pythia/wandb/
__pycache__/
bfg-1.14.0.jar
gpt2/.DS_Store
gpt2/GPT2-Small-SAEs/
gpt2/__pycache__/
gpt2/entity-tracking-lms/
gpt2/final_sparse_autoencoder_gpt2-small_blocks.9.hook_resid_pre_24576.pt
gpt2/final_sparse_autoencoder_gpt2-small_blocks.9.hook_resid_pre_24576_log_feature_sparsity.pt
gpt2/gpt2-small-sparse-autoencoders/
gpt2/gpt2-small_mlp_post_act_autoencoders_0.pt
gpt2/gpt2.png
gpt2/gpt2.zip
gpt2/image.png
gpt2/models/
gpt2/openai_sae/
gpt2/sparse_autoencoder/
llama3b/.DS_Store
mnist/.DS_Store
mnist/dasmat_models/
mnist/data/
mnist/image.png
mnist/mnist_models/
mnist/sae_models/
mnist/sparse_coding-main/
mnist/stats/
ravel/