gpt2/vanilla_data
llama3b/sae/*
saved_models/*
dictionary_learning
.DS_Store
.conda/
Pythia/baulab.us/
Pythia/cpu_probe.pth
Pythia/dictionary_learning/
Pythia/model.pth
Pythia/new_model.pth
Pythia/probe_shift.pkl
Pythia/saved_models/
Pythia/state_dict.pkl
Pythia/wandb/
__pycache__/
bfg-1.14.0.jar
gpt2/.DS_Store
gpt2/GPT2-Small-SAEs/
gpt2/__pycache__/
gpt2/entity-tracking-lms/
gpt2/final_sparse_autoencoder_gpt2-small_blocks.9.hook_resid_pre_24576.pt
gpt2/final_sparse_autoencoder_gpt2-small_blocks.9.hook_resid_pre_24576_log_feature_sparsity.pt
gpt2/gpt2-small-sparse-autoencoders/
gpt2/gpt2-small_mlp_post_act_autoencoders_0.pt
gpt2/gpt2.png
gpt2/gpt2.zip
gpt2/image.png
gpt2/models/
gpt2/openai_sae/
gpt2/sparse_autoencoder/
llama3b/.DS_Store
mnist/.DS_Store
mnist/dasmat_models/
mnist/data/
mnist/image.png
mnist/mnist_models/
mnist/sae_models/
mnist/sparse_coding-main/
mnist/stats/
ravel/
gemma/comfy_continent.json
gemma/comfy_country.json
gemma/final_data_continent.json
gemma/final_data_country.json
gemma/wandb/debug-cli.maheepchaudhary.log
gemma/wandb/debug-internal.log
gemma/wandb/debug.log
gemma/wandb/latest-run
gemma/wandb/settings
gemma/wandb/offline-run-20240802_123238-v59wot4g/run-v59wot4g.wandb
gemma/wandb/offline-run-20240802_123238-v59wot4g/files/conda-environment.yaml
gemma/wandb/offline-run-20240802_123238-v59wot4g/files/wandb-metadata.json
gemma/wandb/offline-run-20240802_123238-v59wot4g/files/wandb-summary.json
gemma/wandb/offline-run-20240802_123238-v59wot4g/logs/debug-internal.log
gemma/wandb/offline-run-20240802_123238-v59wot4g/logs/debug.log
gemma/wandb/offline-run-20240802_123434-endd5wz4/run-endd5wz4.wandb
gemma/wandb/offline-run-20240802_123434-endd5wz4/files/conda-environment.yaml
gemma/wandb/offline-run-20240802_123434-endd5wz4/files/wandb-metadata.json
gemma/wandb/offline-run-20240802_123434-endd5wz4/files/wandb-summary.json
gemma/wandb/offline-run-20240802_123434-endd5wz4/logs/debug-internal.log
gemma/wandb/offline-run-20240802_123434-endd5wz4/logs/debug.log
gemma/wandb/offline-run-20240802_123454-bwrbq5jm/run-bwrbq5jm.wandb
gemma/wandb/offline-run-20240802_123454-bwrbq5jm/files/conda-environment.yaml
gemma/wandb/offline-run-20240802_123454-bwrbq5jm/files/wandb-metadata.json
gemma/wandb/offline-run-20240802_123454-bwrbq5jm/files/wandb-summary.json
gemma/wandb/offline-run-20240802_123454-bwrbq5jm/logs/debug-internal.log
gemma/wandb/offline-run-20240802_123454-bwrbq5jm/logs/debug.log
gemma/wandb/offline-run-20240802_123546-6wrrdw9y/run-6wrrdw9y.wandb
gemma/wandb/offline-run-20240802_123546-6wrrdw9y/files/conda-environment.yaml
gemma/wandb/offline-run-20240802_123546-6wrrdw9y/files/wandb-metadata.json
gemma/wandb/offline-run-20240802_123546-6wrrdw9y/files/wandb-summary.json
gemma/wandb/offline-run-20240802_123546-6wrrdw9y/logs/debug-internal.log
gemma/wandb/offline-run-20240802_123546-6wrrdw9y/logs/debug.log
gemma/wandb/offline-run-20240802_123701-vp8uasm7/run-vp8uasm7.wandb
gemma/wandb/offline-run-20240802_123701-vp8uasm7/files/conda-environment.yaml
gemma/wandb/offline-run-20240802_123701-vp8uasm7/files/wandb-metadata.json
gemma/wandb/offline-run-20240802_123701-vp8uasm7/logs/debug-internal.log
gemma/wandb/offline-run-20240802_123701-vp8uasm7/logs/debug.log
gemma/wandb/offline-run-20240803_034810-qudlcx34/run-qudlcx34.wandb
gemma/wandb/offline-run-20240803_034810-qudlcx34/files/conda-environment.yaml
gemma/wandb/offline-run-20240803_034810-qudlcx34/files/wandb-metadata.json
gemma/wandb/offline-run-20240803_034810-qudlcx34/files/wandb-summary.json
gemma/wandb/offline-run-20240803_034810-qudlcx34/logs/debug-internal.log
gemma/wandb/offline-run-20240803_034810-qudlcx34/logs/debug.log
gemma/wandb/offline-run-20240803_034822-d3kei9vy/run-d3kei9vy.wandb
gemma/wandb/offline-run-20240803_034822-d3kei9vy/files/conda-environment.yaml
gemma/wandb/offline-run-20240803_034822-d3kei9vy/files/wandb-metadata.json
gemma/wandb/offline-run-20240803_034822-d3kei9vy/files/wandb-summary.json
gemma/wandb/offline-run-20240803_034822-d3kei9vy/logs/debug-internal.log
gemma/wandb/offline-run-20240803_034822-d3kei9vy/logs/debug.log
gemma/wandb/offline-run-20240803_034902-7vny0hsm/run-7vny0hsm.wandb
gemma/wandb/offline-run-20240803_034902-7vny0hsm/files/conda-environment.yaml
gemma/wandb/offline-run-20240803_034902-7vny0hsm/files/wandb-metadata.json
gemma/wandb/offline-run-20240803_034902-7vny0hsm/files/wandb-summary.json
gemma/wandb/offline-run-20240803_034902-7vny0hsm/logs/debug-internal.log
gemma/wandb/offline-run-20240803_034902-7vny0hsm/logs/debug.log
gemma/wandb/offline-run-20240803_035031-zx6qxsq5/run-zx6qxsq5.wandb
gemma/wandb/offline-run-20240803_035031-zx6qxsq5/files/conda-environment.yaml
gemma/wandb/offline-run-20240803_035031-zx6qxsq5/files/wandb-metadata.json
gemma/wandb/offline-run-20240803_035031-zx6qxsq5/files/wandb-summary.json
gemma/wandb/offline-run-20240803_035031-zx6qxsq5/logs/debug-internal.log
gemma/wandb/offline-run-20240803_035031-zx6qxsq5/logs/debug.log
gemma/wandb/offline-run-20240803_041127-figjfayu/run-figjfayu.wandb
gemma/wandb/offline-run-20240803_041127-figjfayu/files/conda-environment.yaml
gemma/wandb/offline-run-20240803_041127-figjfayu/files/wandb-metadata.json
gemma/wandb/offline-run-20240803_041127-figjfayu/files/wandb-summary.json
gemma/wandb/offline-run-20240803_041127-figjfayu/logs/debug-internal.log
gemma/wandb/offline-run-20240803_041127-figjfayu/logs/debug.log
gemma/wandb/offline-run-20240803_041139-jbtwlhgv/run-jbtwlhgv.wandb
gemma/wandb/offline-run-20240803_041139-jbtwlhgv/files/conda-environment.yaml
gemma/wandb/offline-run-20240803_041139-jbtwlhgv/files/wandb-metadata.json
gemma/wandb/offline-run-20240803_041139-jbtwlhgv/logs/debug-internal.log
gemma/wandb/offline-run-20240803_041139-jbtwlhgv/logs/debug.log
gemma/wandb/offline-run-20240803_141325-0om056n2/run-0om056n2.wandb
gemma/wandb/offline-run-20240803_141325-0om056n2/files/conda-environment.yaml
gemma/wandb/offline-run-20240803_141325-0om056n2/files/wandb-metadata.json
gemma/wandb/offline-run-20240803_141325-0om056n2/files/wandb-summary.json
gemma/wandb/offline-run-20240803_141325-0om056n2/logs/debug-internal.log
gemma/wandb/offline-run-20240803_141325-0om056n2/logs/debug.log
gemma/wandb/offline-run-20240803_141450-ktuk13oq/run-ktuk13oq.wandb
gemma/wandb/offline-run-20240803_141450-ktuk13oq/files/conda-environment.yaml
gemma/wandb/offline-run-20240803_141450-ktuk13oq/files/wandb-metadata.json
gemma/wandb/offline-run-20240803_141450-ktuk13oq/files/wandb-summary.json
gemma/wandb/offline-run-20240803_141450-ktuk13oq/logs/debug-internal.log
gemma/wandb/offline-run-20240803_141450-ktuk13oq/logs/debug.log
gemma/wandb/offline-run-20240803_141543-85a678qj/run-85a678qj.wandb
gemma/wandb/offline-run-20240803_141543-85a678qj/files/conda-environment.yaml
gemma/wandb/offline-run-20240803_141543-85a678qj/files/wandb-metadata.json
gemma/wandb/offline-run-20240803_141543-85a678qj/logs/debug-internal.log
gemma/wandb/offline-run-20240803_141543-85a678qj/logs/debug.log
gemma/wandb/run-20240802_123111-hvqdzqt8/run-hvqdzqt8.wandb
gemma/wandb/run-20240802_123111-hvqdzqt8/files/conda-environment.yaml
gemma/wandb/run-20240802_123111-hvqdzqt8/files/config.yaml
gemma/wandb/run-20240802_123111-hvqdzqt8/files/output.log
gemma/wandb/run-20240802_123111-hvqdzqt8/files/requirements.txt
gemma/wandb/run-20240802_123111-hvqdzqt8/files/wandb-metadata.json
gemma/wandb/run-20240802_123111-hvqdzqt8/files/wandb-summary.json
gemma/wandb/run-20240802_123111-hvqdzqt8/logs/debug-internal.log
gemma/wandb/run-20240802_123111-hvqdzqt8/logs/debug.log
gemma/wandb/run-20240802_123133-sx1jp98f/run-sx1jp98f.wandb
gemma/wandb/run-20240802_123133-sx1jp98f/files/conda-environment.yaml
gemma/wandb/run-20240802_123133-sx1jp98f/files/config.yaml
gemma/wandb/run-20240802_123133-sx1jp98f/files/output.log
gemma/wandb/run-20240802_123133-sx1jp98f/files/requirements.txt
gemma/wandb/run-20240802_123133-sx1jp98f/files/wandb-metadata.json
gemma/wandb/run-20240802_123133-sx1jp98f/files/wandb-summary.json
gemma/wandb/run-20240802_123133-sx1jp98f/logs/debug-internal.log
gemma/wandb/run-20240802_123133-sx1jp98f/logs/debug.log
gpt2/wandb/*
gpt2/wandb/debug-internal.log
gpt2/wandb/debug.log
gpt2/wandb/latest-run
ravel/*

